name: LINT-TEST-BUILD-CHECK
on:
  push:
    branches: [ dev ]

jobs:

  lint:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - run: pip install -r requirements.txt; pylint -d C0114,C0115,C0116,W0311 server/application.py

  unit-tests:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - run: pip install -r requirements.txt; pytest --junitxml=junit/test-results.xml

  build-test:
    needs: [ lint, unit-tests ]
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - run: docker build -t test-image ./server --file ./server/dockerfile
    - run: docker run -d --name app-server8000 -p 8000:8000 --restart unless-stopped test-image
    - run: sleep 11
    - run: docker ps -a
    - run: sleep 11
    - run: 'curl 127.0.0.1:8000'
